<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error!</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {font-family: "Montserrat", sans-serif; margin: 100px}
        h1 {font-family: "Montserrat", sans-serif}
    </style>
</head>
<body class="w3-black">
    <h1>No face is found!</h1><br>
    <h1>Please try another image!</h1><br>

    <br><br><br><br>
    <a href="/"><button class="w3-button w3-padding-large"><i class="fa fa-home w3-xlarge"></i>Home</button></a>
</body>
</html>