<!doctype html>
<html lang="en">
<head>
    <title>Results</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {font-family: "Montserrat", sans-serif; margin: 100px}
        h1 {font-family: "Montserrat", sans-serif}
        #image-table {border-collapse:collapse; border-spacing:0; width:100%; display:table; text-align: center}
        #original, #processed {border: solid 1px whitesmoke}
    </style>
</head>
<body class="w3-black">

    <!----------------------------------- Show Images -------------------------------------------->
    <table id="image-table">
        <tr>
            <th><img src="static/{{ filename }}" id="original"></th>
            <th><img src = "static/{{ filename }}face.jpg" id="processed"></th>
        </tr>
        <tr>
            <td>Original</td>
            <td>After processing</td>
        </tr>
    </table>
    <hr style="width: auto">
    <h1>Here are the Results!</h1>

    <!----------------------------------- Show Results -------------------------------------------->
    <table class="w3-table-all w3-text-dark-gray w3-centered">
        <tr>
            <th>Emotions</th>
            <th>Probabilities</th>
        </tr>
        <tr>
            <td>Anger</td>
            <td>{{ anger }}</td>
        </tr>
        <tr>
            <td>Contempt</td>
            <td>{{ contempt }}</td>
        </tr>
        <tr>
            <td>Disgust</td>
            <td>{{ disgust }}</td>
        </tr>
        <tr>
            <td>Fear</td>
            <td>{{ fear }}</td>
        </tr>
        <tr>
            <td>Happy</td>
            <td>{{ happy }}</td>
        </tr>
        <tr>
            <td>Neutral</td>
            <td>{{ neutral }}</td>
        </tr>
        <tr>
            <td>Sadness</td>
            <td>{{ sadness }}</td>
        </tr>
        <tr>
            <td>Surprise</td>
            <td>{{ surprise }}</td>
        </tr>
    </table>

    <!----------------------------------- Home Button -------------------------------------------->
    <br><br><br><br>
    <a href="/"><button class="w3-button w3-padding-large"><i class="fa fa-home w3-xlarge"></i>Home</button></a>
</body>
</html>